@property --scroll {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

@property --scroll-delayed {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

@property --scroll-direction {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

@property --scroll-end {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

@keyframes setRootScrollProps {
    to {
        --scroll: 1000;
        --scroll-delayed: 1000;
    }
}

:root {
    animation: setRootScrollProps linear both !important;
    animation-timeline: scroll(root) !important;
    --effect-duration: 0.35s;
}

body {
    transition: --scroll-delayed 0.05s;
    --scroll-velocity: calc(var(--scroll) - var(--scroll-delayed));
    --scroll-speed: max(var(--scroll-velocity), -1 * var(--scroll-velocity));
    --scroll-direction: calc(var(--scroll-velocity) / var(--scroll-speed));
    --scroll-end: calc(var(--scroll) / 1000);
}

.hidden-when-scroll-down,
#bmc-wbtn {
    transition: transform var(--effect-duration) !important;
    transition-delay: calc(infinity * 1s) !important;
    transform: translateY(var(--translate)) !important;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    @container style(not (--scroll-direction: 0)) {
        transition-delay: 0s !important;
    }

    @container style(--scroll-direction: -1) {
        --translate: 0;
    }

    @container style(--scroll-direction: 1) {
        --translate: calc(64px + 5rem);
    }

    @container style(--scroll-end: 1) {
        --translate: 0;
    }
}