.recommend-card {
  overflow: hidden !important;
  height: 150px !important;
  width: 100% !important;
  isolation: isolate !important;
  grid-template-areas:
    "title image"
    "desc image"
    ". image"
    "date image";
  grid-template-columns: 60% 40%;
}

.recommend-card_thumbnail {
  height: 100% !important;
}

.recommend-card_title {
  padding-top: 0.5rem !important;
  padding-left: 0.5rem !important;
  max-width: 100% !important;
  height: 2rem !important;
  overflow: hidden !important;
  -webkit-line-clamp: 1 !important;
  line-clamp: 1 !important;
  display: -webkit-inline-box !important;
  -webkit-box-orient: vertical !important;
}
.recommend-card_description {
  padding-left: 0.5rem !important;
  height: 1.5rem !important;
  max-width: 100% !important;
  overflow: hidden !important;
  -webkit-line-clamp: 1 !important;
  line-clamp: 1 !important;
  display: -webkit-inline-box !important;
  -webkit-box-orient: vertical !important;
}
.recommend-card_created {
  padding-left: 0.5rem !important;
  height: 1.5rem !important;
  max-width: 100% !important;
  overflow: hidden !important;
  -webkit-line-clamp: 1 !important;
  line-clamp: 1 !important;
  display: -webkit-inline-box !important;
  -webkit-box-orient: vertical !important;
}

.recommend-card_created_inner {
  font-size: 0.80rem !important
}