.toc-modal-button-wrapper {
  position: fixed !important;
  bottom: 18px !important;
  left: 18px !important;
  z-index: 9999 !important;
  button {
    background-color: #186bf2 !important;
  }
}

.toc-modal {
  z-index: 99999 !important;
}