.popover {
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: clip;
    z-index: 10;
    right: 0;
    top: 100%;
    margin-top: 0.5em;
    box-shadow: 0 0 5px 0;
    padding: 1em;
    border-radius: 2px;
}

.ais-PoweredBy {
    display: flex;
    justify-content: flex-end;
    font-size: 80%;

    svg {
        width: 130px;
    }
}

.HitCount {
    display: flex;
    justify-content: flex-end;
}

.index-hit-card {
    grid-template-areas:
        "image title title"
        "image content content"
        "image tag tag" !important;
    grid-template-columns: 1fr 1fr 1fr !important;
}
